@page
@model SampleApplication.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.JoiningDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.JoiningDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.DepartmentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.DepartmentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Grade)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employee.EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
