@page
@model SampleApplication.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<script>
    function ConfirmDelete() {
        var x = confirm("Are you sure you want to delete?");

        return X;
    }
</script>
<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Employee[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Address)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Employee[0].JoiningDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employee)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
          
                <a asp-page="./Index" asp-route-employeeId="@item.EmployeeId">Select</a> |
            <a asp-page="./Create" asp-route-id="@item.EmployeeId">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.EmployeeId">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.EmployeeId" Onclick="ConfirmDelete()">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Employee.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Employee.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Employee.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Employee.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>