@page
@model EmployeeApplication.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details of Employee";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Qualification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Qualification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.ContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.ContactNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.EmployeeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
